html,
body,
#root {
  display: flex;
  flex: 1;
  height: 100%;
}

.App,
.App-main {
  display: flex;
  flex: 1;
}

.App-main {
  padding: 50px;
  background-color: #487abd;
}

.panel {
  display: flex;
  flex-direction: column;
}

.left-panel {
  flex-grow: 2;
}

.right-panel {
  flex-grow: 1;
}

.boxes {
  display: flex;
  border: 1px solid #484848;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
}

.main-box {
  flex-grow: 5;
}

.desc-box {
  flex-grow: 2;
}

.small-box {
  flex-grow: 1;
}

span.text {
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .App-main {
    flex-direction: column;
    padding: 20px;
  }
  .boxes {
    margin: 5px;
  }
}
